:root{
  --primary-color: #7fff00;
}

.mx-auto {
  padding-right: 10rem;
  margin: 1px;
}

.navbar-brand {
  color: var(--primary-color);
}

.products-row1 {
  padding-right: 50px;
}

.products-row1 img {
  height: 280px;
  width: 320px;
}