:root{
  --primary-color: #7fff00;
}

.mx-auto {
  padding-right: 10rem;
  margin: 1px;
}

.navbar-brand {
  color: var(--primary-color) !important;
}

.banner img{
  width: 900px;
  height:350px;
}

.products-row1 {
  padding-right: 50px;
}

.products-row1 img {
  height: 280px;
  width: 320px;
}